.dashboard-colaboradores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.acciones-derecha {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 10px;
}

.btn-accion-top {
    padding: 10px 20px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fila-colaborador {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto-colaborador {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover; /* Para que la foto no se deforme al hacerla circular */
    background-color: #d9d9d9;
}

.nombre-colaborador {
    width: 30%;
}

.descripcion-colaborador {
    margin: 0;
    width: 50%;
}

.btn-editar {
    padding: 8px 12px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}