.tarjeta {
    background-color: white;
    padding: 22px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    grid-column: span 2;
    height: 180px;
}

.historial {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    width: 100%;
}

#buscar {
    flex: 2;
    padding: 10px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
}

.select-categoría, 
.select-periodo {
    flex: 1;
}

.select-categoría select, 
.select-periodo select {
    width: 100%;
    padding: 10px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
}

/* grid principal */
.dashboard-gráficos {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 40px;
}