.dashboard-recordatorios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.tarjeta {
    background-color: white;
    padding: 22px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*  4 columnas por fila */
.fila-recordatorio {
    display: grid;
    grid-template-columns: 80px 160px 1fr max-content; 
    align-items: center;
    gap: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

/* Cajas grises de texto */
.bloque {
    background-color: #d9d9d9;
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
}


.linea {
    height: 8px;
    background-color: #c8bebd;
    border-radius: 4px;
    width: 100%;
}


.btn-check {
    width: auto;
    height: auto;
    padding: 6px 14px; 
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; 
}

.acciones-centradas {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 15px;             
    width: 100%;            
    margin-bottom: 25px;  
}

.btn-accion-top {
    flex: 1;                 /* Hace que ambos botones midan exactamente lo mismo */
    max-width: 300px;        /* Opcional: limita el ancho máximo para que no se estiren demasiado */
    padding: 10px 15px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}